{% extends 'patient_template.html.twig' %}

{% block title %} AlloDocteur - Accueil {% endblock %}

{% block body %}

      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-sm-12">
              <div class="home-tab">
                <div class="d-sm-flex align-items-center justify-content-between border-bottom">
                  <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active ps-0" id="home-tab" data-bs-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Tableau de bord</a>
                    </li>
                  </ul>
                </div>
                <div class="tab-content tab-content-basic">
                  <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview"> 
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="statistics-details d-flex align-items-center justify-content-between">
                          <div>
                            <p class="statistics-title">Mes Examens</p>
                            <h3 class="rate-percentage">{{ nbreExamen }}</h3>
                          </div>
                          <div>
                            <p class="statistics-title">Mes Diagnostics</p>
                            <h3 class="rate-percentage">{{ nbreDiag }}</h3>
                          </div>
                          <div>
                            <p class="statistics-title">Mes Ordonnances</p>
                            <h3 class="rate-percentage">{{ nbreOrdo }}</h3>
                          </div>
                          <div class="d-none d-md-block">
                            <p class="statistics-title">Mes Fichees</p>
                            <h3 class="rate-percentage">{{ nbreFiche }}</h3>
                          </div>
                        </div>
                      </div>
                    </div> 
                    <div class="row">
                      <div class="col-lg-8 d-flex flex-column">
                        <div class="row flex-grow">
                          <div class="col-12 grid-margin stretch-card">
                            <div class="card card-rounded">
                              <div class="card-body">
                                <h5>Structure Médical : Centre de santé Urabain</h5><br>
                                <h5>Dénomitition : Buisson Ardent</h5><br>
                                <h5>Médecin Directeur : Dr. Cecile K.</h5><br>
                                <h5>Adresse : 22, avenue Nsimba Q/Craa C/Annexe</h5><br>
                                <h5>Date de création : 11/04/2014</h5>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <!-- partial -->
      </div>
{% endblock %}